*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.col-1{
	width:8.33%;
	padding:0 10px;
}
.col-2{
	width:16.66%;
	padding:0 10px;
}
.col-3{
	width:25%;
	padding:0 10px;
}
.col-4{
	width:33.33%;
	padding:0 10px;
}
.col-5{
	width:41.66%;
	padding:0 10px;
}
.col-6{
	width:50%;
	padding:0 10px;
}
.col-7{
	width:58.33%;
	padding:0 10px;
}
.col-8{
	width:66.66%;
	padding:0 10px;
}
.col-9{
	width:75%;
	padding:0 10px;
}
.col-10{
	width:83.33%;
	padding:0 10px;
}
.col-11{
	width:91.66%;
	padding:0 10px;
}
.col-12{
	width:100%;
	padding:0 10px;
}
/*header starting*/
#header{
	background-image:linear-gradient(#000000a8,#00000087),url('../image/back.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.container{
	width:90%;
	margin:auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.head-padding{
	padding:25px 0;
	justify-content:center;
	align-items:center;
}
.logo i{
	font-size:45px;
	color:red;
}
.logo span{
	font-size:35px;
	color:white;
}
.menu-list .list-items li a,.menu-list .list-items li{
	text-decoration:none;
	font-size:17px;
	color:white;	
	list-style-type:none;
}
.list-items{
	justify-content:space-between;
}
.bt-button i{
	display:none;
}
.bt-button .btn{
	text-decoration:none;
	border-radius:22px;
	padding:10px 25px;
	color:white;
	background-color:red;
	transition:all .5s ease-in-out;
}
.bt-button .btn:hover{
	border:1px solid red;
	color:white;
	background-color:transparent;
}
/**/
.cnt{
	padding:100px 0;
	text-align:center;
}
.cnt1 h1,.cnt1 p,.cnt1 i{
	padding:20px 0;
	color:white;	
}
.cnt1 h1{
	font-size:40px;
	font-weight:800;
}
.cnt1 i{
	font-size:70px;
}
.btn{
	padding:20px;
}
.btn a{
	border:1px solid red;
	padding:15px 20px;
	border-radius:25px;	 
	color:white;
	text-decoration:none;
	transition:all .5s ease-in-out;
}
.btn a:hover{
	background-color:red;	 
	color:white;
}
/**/
.Event{
	padding:50px 0;
	background-image:linear-gradient(#000000a8,#00000087);
}
.Event-cnt h1,.Event-cnt p{
	color:white;
	padding:10px 10px;
}
/*header ended*/

/*section1 strating*/
#section1{
	padding:30px 0px;
}
.Event-speakers-cnt{
	text-align:center;
	padding:30px 0;
}
.Event-speakers-cnt h1{
	padding:10px 0px;
	font-size:35px;
	font-weight:800;
}
.Event-speakers-cnt p{
	padding:10px 0px 25px;
	font-size:20px;
	font-weight:800;
	color:gray;
	position:relative;
}
.Event-speakers-cnt p::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}
/*event speakers*/
.sec1-padding{
	padding:15px 15px;
}
.pos-relative{
	position:relative;
	overflow:hidden;
}
.details{
	position:absolute;
	bottom:-40px;
	left:0;
	height:100px;
	background:linear-gradient(#000000a8,#00000087);
	color:white;	
	font-size:20px;
	text-align:center;
}
.pos-relative:hover .details{
	transition:all .5s ease-in-out;
	transform:translateY(-33px);
}
.details h3:hover{
	color:red;
	transition:0.5s;
}
.details p{
	padding:10px;
	font-size:15px;
}
.social{
	opacity:0;
	display:flex;
	justify-content:space-evenly;
}
.social a i{
	color:white;
}
.social a i:hover{
	color:red;
	transition:0.3s;
}
.details:hover .social{
	opacity:1;
	transition:0.9s;
	padding:0 50px;
}
/*event speakers ended*/

/*Event-schedule starting*/
#sec3{
	background-color:#8080801f;
}
.sec-3-container{
	width:80%;
	margin:auto;
}
/*event-heading-started*/
.Event-schedule-heading{
	text-align:center;
	padding:30px 0;
}
.Event-schedule-child h1{
	padding:10px 0px;
	font-size:35px;
	font-weight:800;
}
.Event-schedule-child p{
	padding:10px 0px 25px;
	font-size:20px;
	font-weight:800;
	color:gray;
	position:relative;
}
.Event-schedule-child p::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}/*event-heading-ended*/
.Event-schedule-child1{
	display:flex;
	justify-content:space-evenly;
	padding:25px 0;
}
.Event-schedule-child1 .event-flex{
	text-align:center;
}
.Event-schedule-child1 a{
	padding:10px 10px;
	border:1px solid #12257f;
	border-radius:25px;
	color:white;
	background-color:#12257f;
	text-decoration:none;
}
.Event-button1:hover,.Event-button2:hover,.Event-button3:hover{
	color:white;
	border:1px solid red;
	background-color:red;	
}
.event-align-center{
	width:100%;
	justify-content:center;
	align-items:center;
}
.event-list-img img{
	height:80px;
	width:80px;
	border-radius:50%;
}
.event-list-cnt{
	justify-content:start;
}
.border-btm{
	padding:15px 0; 
	border-bottom:1px solid gray;
}
.schedule-list1-img1 img{
	padding:0 15px;
	border-radius:50%;
}
.schedule-list2-img2 img{
	padding:0 15px;
	border-radius:50%;
}
.schedule-list3-img3 img{
	padding:0 15px;
	border-radius:50%;
}
.schedule-list1-detail1,.schedule-list2-detail2,.schedule-list3-detail3{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	gap:5%;
	font-size:17px;
	line-height:25px;
}
.event-target1 > .event-target1-1{
	display:none;
	transition:all .9s ease-in-out;
}
.event-target1 > .event-target1-1:target{
	display:block;
} 
.event-target2 > .event-target2-1{
	display:none;
	transition:all .9s ease-in-out;
}
.event-target2 > .event-target2-1:target{
	display:block;
}
.event-target3 > .event-target3-1{
	display:none;
	transition:0.9s;
}
.event-target3 > .event-target3-1:target{
	display:block;
}
.schedule-list3:hover{
	background-color:white;
}
/*event venue*/
.sec3-padding{
	padding:25px 0;
}
.Event-venue-heading{
	text-align:center;
	padding:30px 0;
}
.Event-venue-heading h1{
	padding:10px 0px;
	font-size:35px;
	font-weight:800;
}
.Event-venue-heading p{
	padding:10px 0px 25px;
	font-size:20px;
	font-weight:800;
	color:gray;
	position:relative;
}
.Event-venue-heading p::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}
.event-img{ 
	position:relative;
	background: linear-gradient(#0000007d, #000000ab), url('../image/venue0.jpg');
    width: 100%;
    height: 300px;
}
.event-img .event-img-cnt h1{
	font-size:30px;
}
.event-img .event-img-cnt p{
	font-size:19px;
}
.event-img .event-img-cnt{
	position:absolute;
	top:15%;
	left:18%;
	color:white;
	z-index:1;
}
.col-padding{
	padding:3px 3px !important;
}
.sec3-venue-img{
	overflow:hidden; 
}
.sec3-venue-img:hover img{
	transition:transform .4s ease-in-out;
	transform:scale(1.2);
}
/*event venue ended*/

/*hotels*/
#hotels-padding{
	padding:30px 0 100px;
}
.hotels{
	text-align:center;
	padding:30px 0;
}
.hotels-heading h1{
	padding:10px 0px;
	font-size:35px;
	font-weight:800;
}
.hotels-heading p{
	padding:10px 0px 25px;
	font-size:20px;
	font-weight:800;
	color:gray;
	position:relative;
}
.hotels-heading p::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}
.hotel-list{
	box-shadow:0 0 10px #ccc;
	position:relative;
}
.hotel-list img{
	width:100%;	
}
.hotel-list .hotel-list-details{
	position:absolute;
	bottom:20px;
	box-shadow:0 0 10px #ccc;
	height:80px;
	width:100%;
	text-align:center;
	z-index:-1;
}
.hotel-list:hover .hotel-list-details{
	transform:translateY(100px);
	transition:transform .5s ease-in-out;
	z-index:0;
} 
.hotel-list-details a{
	text-decoration:none;
	color:black;
	font-size:25px;
}
.star{
	display:flex;
	flex-direction:row;
	justify-content:center;
	color:orange;
}
/*hotels ended*/

/*gallery started*/
.gallery{
	text-align:center;
	padding:30px 0;
}
.gallery-heading h1{
	padding:10px 0px;
	font-size:35px;
	font-weight:800;
}
.gallery-heading p{
	padding:10px 0px 25px;
	font-size:20px;
	font-weight:800;
	color:gray;
	position:relative;
}
.gallery-heading p::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}
/*galley-ended*/

/*sponser*/
.row-spacing{
	gap:10px;
	justify-content:center;
}
.sponser{
	text-align:center;
	padding:30px 0;
}
.sponser-heading h1{
	padding:20px 0px 30px;
	font-size:35px;
	font-weight:800;
	position:relative;
}
.sponser-heading h1::after{
	content:"";
	position:absolute;
	bottom:0;
	right:47%;
	background-color:red;
	height:5px;
	width:75px;
}
.sponser-img-padding{
	overflow:hidden;
	padding:20px;
	border:1px solid gray;
	width:23% !important;
}
.sponser-img-padding:hover .sponser-box-shadow{
	transform:scale(1.1);
	transition:transform .5s;
}
/*sponser ended*/
/**/
.sec8-container{
	width:60%;
	padding:50px 0;
	margin:0 auto;
}
.sec8-padding{
	padding:20px 0;
}
.faq-heading h1{
	text-align:center;
	font-size:30px;
	font-weight:900;
	position:relative;
	padding:30px 0;
}
.faq-heading h1::after{
	content:"";
	position:absolute;	
	bottom:0;
	right:46%;
	background-color:red;
	height:5px;
	width:75px;
}
.faq{
	padding:20px 0;
	border-bottom:1px solid gray;
}
.faq-1 summary{
	font-size:22px;
}
.faq-1 p{
	padding:20px 0 0 45px;
	font-size:20px;
} 
.faq-1:hover summary{
	color:red;
}